:host {
  p-card::ng-deep {
    .p-component {
      margin-bottom: 1rem;
    }
    .p-card-content {
      display: flex;
    }
  }
}

.title {
  margin-bottom: 1rem !important;
  strong {
    text-align: center;
  }
}

.wrapper {
  margin-top: 1rem;
}

p {
  flex: 1;
}

img {
  flex: 1
}

.main {
  height: 100%;
}

.scotch, .bourbon, .rye {
  max-height: 200px;
  max-width: 400px;
  margin-right: 1rem;
  border-radius: 3%;
  box-shadow: 1px 1px 1px 1px black;
}


